.dropdown {
  width: 582px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  margin: 20px;
  box-sizing: border-box;

  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat";
  }

  .drop-btn {
    width: 582px;
    height: 45px;
    border-radius: 5px;
    color: white;
    background: #ff6060;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    position: relative;
    margin: 0;

    p {
      padding: 0px;
      font-size: 18px;
      font-weight: 600;
      font-family: "Montserrat";
    }

    i {
      transition: transform 0.4s ease-in-out;
    }

    .fa-chevron-up {
      font-size: large;
      color: white;
      padding: 10px;
      right: 1rem;
      position: absolute;
    }
  }

  .dropdown-content {
    width: 582px;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0;
    font-size: 18px;
    font-family: "Montserrat";
    box-sizing: border-box;

    ul {
      margin: 0;
      padding: 10px 0;
      li {
        font-size: 18px;
        font-family: "Montserrat";
        padding: 3px 0;
        list-style: none;
      }
    }
  }
}
