* {
    margin: 0;
    font-family: "Montserrat";
}

body {
   
    margin: 0;
   /* overflow-x: hidden;*/
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('src/assets/Montserrat-Bold.ttf');
}