$primary-color: #FF6060;
$secondary-color: #000000;
$tertiary-color: #FFFFFF;
$background-color: #F6F6F6;
$inactive-star-color: #E3E3E3;
$box-shadow: 0 3px 3px rgb(0 0 0 / 0.3);
$primary-font: "Montserrat";
$card-gradient: linear-gradient(to bottom, transparent 0%, black 250%);