@import '../../../variables.scss';

.carousel {
  @include width;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;

  .fa-chevron-left,
  .fa-chevron-right {
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    color: $tertiary-color;
  }

  .fa-chevron-left {
    left: 1rem;
  }

  .fa-chevron-right {
    right: 1rem;
  }

  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-hidden {
    display: none;
  }

  .slide-indicator {
    position: absolute;
    color: $secondary-color;
    bottom: 1rem;
    color: $tertiary-color;
    font-size: 18px;
    font-weight: 500;
    font-family: $primary-font;
  }
}

@media (max-width: 768px) {
  .carousel {
    @include width-mobile;
    height: 255px;
    border-radius: 10px;

    .fa-chevron-left,
    .fa-chevron-right {
      position: absolute;
      cursor: pointer;
      font-size: 25px;
      color: $tertiary-color;
    }

    .fa-chevron-left {
      left: 0.5rem;
    }
  
    .fa-chevron-right {
      right: 0.5rem;
    }
    .slide-indicator {
      display: none;
    }
  }
}