@import '../../../variables.scss';

.footer {
  width: 100vw;
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container {
    width: 100vw;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $secondary-color;
    box-sizing: border-box;

    img {
        padding-top: 50px;
    }

    p {
        font-size: 24px;
        font-family: $primary-font;
      color: $tertiary-color;
      padding-top: 30px;
      margin: 0;
    }
  }
}
