@import "../../../variables.scss";

.footer {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $secondary-color;

  .footer-container {
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    img {
      padding-top: 50px;
    }

    p {
      font-size: 24px;
      font-family: $primary-font;
      color: $tertiary-color;
      padding-top: 30px;
      margin: 0;
      text-align: start;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
    margin-top: 10px;
    .footer-container {
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 122px;
        height: 39px;
        padding-top: 20px;
      }
      p {
        font-size: 13px;
        padding-top: 15px;
        text-align: center;
      }
    }
  }
}
