@import "../../../variables.scss";

.cards-section {
  width: 100%;
  padding: 0 38px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 40px;

  .cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: $background-color;
    border-radius: 25px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .cards-section {
    .cards-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      background: none;
    }
  }
}
