.cards-section {
  width: 90%;

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f6f6f6;
    padding: 15px;
    margin: 25px;
    border-radius: 25px;
    box-sizing: border-box;
  }
}
