@import '../../../variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 200px;
        font-family: $primary-font;
        color: $primary-color;
        padding: 50px;
        margin: 0;
    }

    p {
        font-size: 36px;
        font-family: $primary-font;
        color: $primary-color;
    }

    .return-link {
        font-size: 18px;
        font-family: $primary-font;
        font-weight: 400;
        color: $secondary-color;
        text-decoration: underline;
        cursor: pointer;
    }
}